application.properties
application.yml
DotEnv
.env

build
# Gradle
.gradle/
build/
out/
target/

# Gradle wrapper (keep wrapper files if you commit them - do not ignore gradle/wrapper if you want to commit the wrapper)
# (If you ignore the folder, use exception rules to keep gradle-wrapper.jar/properties)
# /gradle/wrapper/!

# Compiled / packaged files
*.class
*.jar
*.war
*.ear

# IDEs
/.idea/
*.iml
